{% extends "rango/base.html" %}

{% block body_block %}
  <h1>Rango Says... </h1>

  <div class="">
    {% if user.is_authenticated %}
        Howdy {{ user.username }}
        {% else %}
        Hey there partner!
    {% endif %}
  </div>

  <div class="">
    <strong>Most Liked Categories</strong>
    {% if categories %}
        <ul>
          {% for category in categories %}
              <li>
                <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
              </li>
          {% endfor %}
        </ul>
        {% else %}
        <strong>There are no cateogories present.</strong>
    {% endif %}

    {% if most_viewed_pages %}
    <strong>There is the most viewed pages</strong>
    <ul>
        {% for page in most_viewed_pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No most viewed pages for now.</strong>
    {% endif %}
  </div>
{% endblock body_block %}
